<button phx-click="create" phx-value-amount="10">Create 10</button>
<button phx-click="create" phx-value-amount="100">Create 100</button>

<section class="phx-hero" phx-update="append" id="canvas">
  <%= for dot <- @dots do %>
    <div
      class="dot"
      id="dot-<%= String.replace("#{inspect dot.pid}", ~r/[#PID<>]/, "") %>"
      style="left: <%= dot.x %>px; top: <%= dot.y %>px; background-color: hsl(<%= dot.hue %>, 83%, 53%)"
    ></div>
  <% end %>
</section>
